<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-83160412-3"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-83160412-3");
    </script>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#141414" />
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico" />
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <title>Stock Lookup</title>
    <meta
      name="description"
      content="Stock Lookup is a stock market web app used to research financial markets. Find real time quotes and news. As well as track Forex, equities, ETFs, indices, options, cryptos, and  commodities."
    />

    <meta property="og:url" content="https://www.stocklookup.org/" />
    <!--<meta property="og:image" content="{{imageUrl}}"> -->
    <meta
      property="og:description"
      content="Stock Lookup is a stock market web app used to research financial markets. Find real time quotes and news. As well as track Forex, equities, ETFs, indices, options, cryptos, and  commodities."
    />
    <meta property="og:title" content="Stock Lookup" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://www.stocklookup.org/" />
    <meta name="twitter:title" content="Stock Lookup" />
    <meta
      name="twitter:description"
      content="Stock Lookup is a stock market web app used to research financial markets. Find real time quotes and news. As well as track Forex, equities, ETFs, indices, options, cryptos, and  commodities."
    />
    <!--<meta name="twitter:image" content="{{imageUrl}}">-->
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
