.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
  }

  .landingBG {
    background-color: white;
    background-image: url("https://images.unsplash.com/photo-1459257831348-f0cdd359235f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .landing-title {
    font-size: 4.5em;
    font-weight: bold;
  }

  @media (max-width: 800px) {

    .landing-title {
      font-size: 2.76em;
      margin-top: 35%;
    }
  }