
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #141414;
  border-color: #141414;
}

.navbar-nav > .nav-link {
  padding: 0 15px;
}

.main-nav {
  padding: 0.01rem;
}

.navbar-collapse > .navbar-nav {
  flex-direction: row !important;
  margin-left: auto;
}

@media (max-width: 800px) {
    .main-nav {
      padding: 0.5rem 1rem;
    }
  
    .navbar-collapse > .navbar-nav {
      flex-direction: row !important;
      justify-content: center;
    }
    .nav-brand {
      width: 100%;
      text-align: center !important;
    }
  }