.chart-quote {
    /*box-shadow: 0px 3px 10px rgba(0,0,0,.8);*/
    width: 100%;
    height: 400px;
    color: white;
    /*border-radius: 8px;
    /*background: #56CCF2;/* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);/* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #2F80ED, #56CCF2);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
.newsSpace {
    margin: 10px !important;
  }

  .Charts {
    background-color: white;
    width: 100%;
    /*height: 100%;*/
    padding: 35px;
    /*border-radius: 25px 25px 25px 25px; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }
  
.profile {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(129, 130, 133, 0.3);
    padding-bottom: 10px;
  }
  .info {
    width: 100%;
    height: 100%;
    flex: 1;
  }

  .info-header,
  .info-item {
    font-size: 25px;
    line-height: 1.5em;
    margin: 10px 0px;
    flex: 1 0 auto;
    font-weight: bold;
  }
  
  .info-item {
    font-weight: 300;
    font-size: 20px;
  }

  .CpC > div > .d-flex.flex-row > .info-item {
    text-align: end;
  
  }
  
  .info-row {
    display: flex;
    flex-direction: row;
    /*margin-top: 20px;*/
  }
  .info-row-nested {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .info-column {
    flex-direction: column;
    flex: 1;
  }

  
.news-row {
    margin: auto !important;
  }
  
  .summary {
    /*white-space: nowrap;*/
    height: 4.8em;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  
.description {
    font-size: 25px;
    margin: 10px 0px !important;
    line-height: 35px;
    text-align: justify;
  }
  
  .tital {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 30px;
  }
  .space {
    width: 28%;
  }
  .info-left {
    justify-content: flex-start;
  }
  .info-right {
    justify-content: flex-end;
  }
  
  .quote-name {
    display: inline;
    /*font-size: 50px;*/
    font-size: 30px;
    font-weight: bold;
  }
  
  .quote-change {
    margin-right: 0.1em;
  }
  
  .sym-size {
    display: inline;
    margin-left: 0.5em;
    /*font-size: 45px;*/
    font-size: 30px;
    font-weight: bold;
  }
  
  .quote-price {
    /*font-size: 50px;*/
    font-size: 30px;
    font-weight: 400;
  }
  .change {
    /*font-size: 35px;*/
    font-size: 30px;
    font-weight: 300;
  }
  .time {
    font-size: 30px;
  }
  .change-green {
    color: green;
  }
  .change-red {
    color: red;
  }
  .attribution {
    font-size: 15px;
    margin-top: 15px;
  }

.company-grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
  }
  @media (max-width: 800px) {
    .company-grid {
      display: grid;
      grid-template-columns: repeat(3, 34%);
    }
    .Charts {
      /*border-radius: 20px 20px 20px 20px; */
      /*padding: 15px 15px 1px 15px;*/
      padding: 20px 20px 1px 20px;
    }
    .info-header,
    .info-item,
    .description {
      font-size: 17px;
    }
    .info-row {
      flex-direction: column;
    }
    .description {
      /*margin: 25px 0px !important;*/
      line-height: 25px;
    }
    .info-item {
      margin: 0px;
    }
    .quote-box {
      margin-top: 5px;
    }
    .symbol,
    .sym-size {
      font-size: 15px;
    }
    .quote-name,
    .quote-price,
    .change,
    .time {
      font-size: 20px;
    }
    .attribution {
      font-size: 10px;
      text-align: center;
    }
  }

  .news-card {
    width: 100%;
  }
  
  .news-center {
    width: 85%;
    height: 100%;
    margin: 0 auto;
  }

  /* ex small*/
  @media (max-width: 575.98px)  {
    .container-fluid.p-5 {
      padding: 1.3rem !important;
    }
    .navbar-dark.bg-space > .container {
      flex-direction: column;
    }  
    .navbar-brand {
      margin-bottom: 1rem !important;
    }
    div.col-sm.col-lg-5 > #section-title {    
      margin-top: 1.5rem !important;
    }
  }
  /* small */
  @media (min-width:575.98px ) and (max-width: 767.98px) {
    .container-fluid.p-5 {
      padding: 1.3rem !important;
    }
    .navbar-dark.bg-space > .container {
      flex-direction: column;
    }  
    .navbar-brand {
      margin-bottom: 1rem !important;
    }
    div.col-sm.col-lg-5 > #section-title {    
      margin-top: 1.5rem !important;
    }
  }
  /* medium */
  @media (min-width:767.98px ) and (max-width: 991.98px) {
    .container-fluid.p-5 {
      padding: 1.3rem !important;
    }
    .navbar-dark.bg-space > .container {
      flex-direction: column;
    }  
    .navbar-brand {
      margin-bottom: 1rem !important;
    }
    div.col-sm.col-lg-5 > #section-title {    
      margin-top: 1.5rem !important;
    }
    .Charts {
      width: 95vw !important;
    }
  }

  
@media (max-width: 850px) and (orientation: landscape) {
    .info-header,
    .info-item,
    .description {
      font-size: 17px;
    }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .info-row {
      flex-direction: row;
    }
    /* .description {
      margin: 10px 0px !important;
    }*/
  }