@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,700");
html,
body {
  font-family: "Dosis", sans-serif !important;
}

  a {
    text-decoration: none;
}

  #scrollable {
    height: 26em; /* or any value */
    overflow-y: auto;
  }
  

  
.footer {
    margin-top: 100px;
    padding: 5em 0em;
  }
  .footer-center {
    text-align: center;
  }
  .footer-vailgn {
    vertical-align: middle;
  }

  
.index {
    margin-top: 2em;
    width: 500px;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 2.5rem;
    background-color: white;
  }
  
  .table-sides {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  
  .custom-button {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
    border-radius: 60px;
    position: relative;
  }
  
  .custom-button input[type="text"] {
    border: none;
    width: 770px;
    height: 50px;
    padding-right: 123px;
  }
  
  .custom-button .input-group-append {
    position: absolute;
    right: 4px;
    top: 11%;
    z-index: 9;
  }
  
  .input-group > .input-group-append > .btn {
    border-top-left-radius: 60px !important;
    border-bottom-left-radius: 60px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  }
  
  .input-group-append > #button-addon2,
  .input-group > .custom-select:not(:last-child),
  .input-group > .form-control:not(:last-child), .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3), 
  .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {

    border-radius: 60px;
  }
  
  .white-link {
    color: #fff !important;
  }
  
  .spinner-space {
    padding: 25%;
  }
  
  .search {
    width: 60%;
  }
  
  .bg-space {
    background: #141414;
  }
  
  .btn.focus,
  .btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
  }

  

.headline {
    color: black;
    white-space: nowrap;
    width: 15em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
a:hover {
    text-decoration: none;
  }

  @media (max-width: 800px) {
    .headline {
      width: 14em;
    }
  
    .custom-button input[type="text"] {
      border: none;
      width: 100%;
      padding-right: 123px;
    }
  
    .index {
      width: 100%;
    }
    .search {
      width: 90%;
    }
  }

  
@media (min-width: 576px) {
    .container {
      min-width: 620px !important;
    }
  }
  